@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-3">学ぶためにようこそ</h1>
        <h1 class="display-4">Welcome to "Manabu"</h1>
        <p>Sign Up or Login to get started.</p>
    </div>
