@{
    ViewData["Title"] = "Home Page";
}
<body class="home-image">
    <div class="text-center home-text-shadow home-text-color">
        <h1 class="display-3">学ぶためにようこそ</h1>
        <h1 class="display-4">Welcome to "Manabu"</h1>
        @if (!User.Identity.IsAuthenticated)
        {
            <p>
                <a class="text-light" asp-area="Identity" asp-page="/Account/Register">Sign Up</a>
                or
                <a class="text-light" asp-area="Identity" asp-page="/Account/Login">Login</a> to get started.
            </p>
        }
    </div>
</body>