@model IEnumerable<Manabu.Models.Quiz>

@{
    ViewData["Title"] = "Index";
}
<body class="home-image">
    <div class="d-flex flex-wrap justify-content-around">
@foreach (var item in Model) {
    <div class="card m-4 p-4">
        <div class="card-body">
    <p class="display-4">
        @Html.DisplayFor(modelItem => item.Name)
    </p>
                <a class="pl-5" asp-action="TakeQuiz" asp-route-id="@item.Id">Take Quiz</a>
        </div>
    </div>
}
    </div>
</body>
